@use './colors.scss' as colors;

// Buttons, tags and notifications tokens doesn't work correctly
// when set on the theme, so we set them directly on the components tokens
$light-theme: (
  /* BACKGROUND */
        background: colors.$gray-0,
        background-active: rgba(colors.$gray-50, 0.5),
        background-hover: rgba(colors.$gray-50, 0.12),
        background-selected: rgba(colors.$gray-50, 0.20),
        background-selected-hover: rgba(colors.$gray-50, 0.32),
        background-brand: colors.$blue-500,
        background-inverse: colors.$gray-900,
        background-inverse-hover: colors.$gray-800,
  /* LAYER */
        layer-01: colors.$gray-50,
        layer-02: colors.$gray-0,
        layer-03: colors.$gray-50,
        layer-hover-01: colors.$gray-100,
        layer-hover-02: colors.$gray-100,
        layer-hover-03: colors.$gray-100,
        layer-active-01: colors.$gray-300,
        layer-active-02: colors.$gray-300,
        layer-active-03: colors.$gray-300,
        layer-selected-01: colors.$gray-200,
        layer-selected-02: colors.$gray-200,
        layer-selected-03: colors.$gray-200,
        layer-selected-hover-01: colors.$gray-300,
        layer-selected-hover-02: colors.$gray-300,
        layer-selected-hover-03: colors.$gray-300,
        layer-selected-disabled: colors.$gray-50,
  /* LAYER ACCENT */
        layer-accent-01: colors.$gray-200,
        layer-accent-02: colors.$gray-200,
        layer-accent-03: colors.$gray-200,
        layer-accent-hover-01: colors.$gray-300,
        layer-accent-hover-02: colors.$gray-300,
        layer-accent-hover-03: colors.$gray-300,
        layer-accent-active-01: colors.$gray-400,
        layer-accent-active-02: colors.$gray-400,
        layer-accent-active-03: colors.$gray-400,
  /* FIELD */
        field-01: colors.$gray-50,
        field-02: colors.$gray-0,
        field-03: colors.$gray-50,
        field-hover-01: colors.$gray-100,
        field-hover-02: colors.$gray-100,
        field-hover-03: colors.$gray-100,
  /* BORDER */
        border-subtle-00: colors.$gray-200,
        border-subtle-01: colors.$gray-200,
        border-subtle-02: colors.$gray-200,
        border-subtle-03: colors.$gray-200,
        border-subtle-selected-01: colors.$gray-300,
        border-subtle-selected-02: colors.$gray-300,
        border-subtle-selected-03: colors.$gray-300,
        border-strong-01: colors.$gray-600,
        border-strong-02: colors.$gray-600,
        border-strong-03: colors.$gray-600,
        border-inverse: colors.$gray-100,
        border-interactive: colors.$blue-500,
        border-disabled: colors.$gray-300,
  /* TEXT */
        text-primary: colors.$gray-900,
        text-secondary: colors.$gray-700,
        text-placeholder: colors.$gray-400,
        text-on-color: colors.$gray-0,
        text-helper: colors.$gray-600,
        text-error: colors.$red-70,
        text-inverse: colors.$gray-0,
        text-disabled: colors.$gray-0, //rgba(colors.$gray-100, 0.25),
        text-on-color-disabled: colors.$gray-50,
  /* LINK */
        link-primary: colors.$blue-700,
        link-primary-hover: colors.$blue-800,
        link-secondary: colors.$blue-800,
        link-inverse: colors.$blue-300,
        link-visited: colors.$violet-50,
  /* ICON */
        icon-primary: colors.$gray-100,
        icon-secondary: colors.$gray-700,
        icon-on-color: colors.$gray-0,
        icon-inverse: colors.$gray-0,
        icon-on-color-disabled: colors.$gray-50,
        icon-disabled: rgba(colors.$gray-100, 0.25),
  /* SUPPORT */
        support-error: colors.$red-60,
        support-success: colors.$green-60,
        support-warning: colors.$yellow-60,
        support-info: colors.$blue-800,
        support-error-inverse: colors.$red-40,
        support-success-inverse: colors.$green-40,
        support-warning-inverse: colors.$yellow-60,
        support-info-inverse: colors.$blue-400,
        support-caution-major: colors.$orange-50,
        support-caution-minor: colors.$yellow-60,
        support-undefined: colors.$violet-60,
  /* FOCUS */
        focus: colors.$blue-500,
        focus-inset: colors.$gray-0,
        focus-inverse: colors.$gray-0,
  /* MISC */
        interactive: colors.$blue-500,
        highlight: colors.$blue-200,
        overlay: rgba(colors.$gray-100, 0.50),
        skeleton-background: colors.$gray-100,
        skeleton-element: colors.$gray-300,
        toggle-off: colors.$gray-50,
);